@import url('https://fonts.googleapis.com/css2?family=Carlito:wght@700&family=Quicksand:wght@300&display=swap');

:root {
    --primary-color: #2d2d2e;
    --secondary-color: #092f43;
    --heading-font: 'Carlito', serif;
    --paragraph-font: 'Quicksand', sans-serif;
    --nav-link-color:  #f8f7ff;   
}

body {
  font-family: var(--paragraph-font);
  color: var(--primary-color);
  max-width: 1000px;
  margin: 0 auto;
}

h1{
  color: #ffc400;
  ;
}
h2{
    text-align: center;
    color: #b58b04;
}

header {
  display: grid;
  grid-template-columns: 220px auto;
  align-items: center;
  padding: 20px;
  background-color: var(--secondary-color);
}

header img{
  width: 200px;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav a {
  color: var(--nav-link-color);
  text-decoration: none;
  margin-right: 20px;
  
}

.social-media img {
    text-decoration: none;
}

  .hero {
    position: relative;
  }

  .heroine img {
    width: 100%;
    height: 600px;
  }
  
  .hero img {
    width: 100%;
    height: auto;

  }
  
  .hero h1 {
    position: absolute;
    top: 20%;
    left: 0%;
    right: 0%;
    text-align: center;
    font-size: 3rem; 
    background-color: rgba(0,0,0,0.5); 
    color: #fff; 
  }

  .hero h2 {
    position: absolute;
    top: 40%;
    left: 0%;
    right: 0%;
    text-align: center;
    font-size: 2rem; 
    background-color: rgba(0,0,0,0.5); 
    color: #fff;

  }

/* Trips page body */

  .heroine h1{
    position: absolute;
    top: 50%;
    left: 0%;
    right: 0%;
    text-align: center;
    font-size: 3rem; 
    color: #fff; 

  }

  .heroine h2 {
    position: absolute;
    top: 60%;
    left: 0%;
    right: 0%;
    text-align: center;
    font-size: 2rem;  
    color: #fff;

  }
  
  .hero article {
    position: absolute;
    /* margin-right: 20px; */
    left: 0;
    top: 40%;
    background-color: rgba(0,0,0,0.5); 
    color: #fff; 
    padding: 20px; 
  }
  
  .hero article img {
    float: right;
    width: 200px;
    margin-left: 1rem;
    margin-top: 10px;
  }

/* home button */
.button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
}

.button:hover {
  background-color: #0056b3;
}

.signup-form {
  max-width: 400px;
  margin: 0 auto;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}



  /* trips table */
  table {
    padding-top: 100px;
    width: 100%;
    margin-top: 50px;
    border-collapse: collapse;
  }
  
  th {
    padding: 8px;
    text-align: left;
    color: #fff;
    border-bottom: 1px solid #ddd;
  }

  td {
    padding: 8px;
    text-align: left;
    color: #000000;
    border-bottom: 1px solid #ddd;

  }
  
  th {
    background-color: #092f43;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }

  .adventure-section {
    margin-top: 50px;
  }
  
  .adventure-section p{
    text-align: center;
    text-transform: var(--paragraph-font);
  }

  .image-container{
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .image-container h3 {
    text-align: center;
    text-transform: var(--heading-font);
  }
  
  .image-container figure {
    margin: 0px;
  }
  
  .image-container img {
    width: 90%;
  }
  
  .image-container figcaption {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    
  }

  footer{
    background-color: #092f43;
    color: #f8f7ff;
    padding: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 60px;
  }

/* Form */

form {
  max-width: 400px;
  margin-top: 40px;
  /* margin: 0 auto; */
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
  margin-top: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #092f43;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

  /* Map */
  .contact-information {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    
  }

  .contact-information p{
    justify-content: right;
  }


  
  