@import url('https://fonts.googleapis.com/css2?family=Carlito:wght@700&family=Quicksand:wght@300&display=swap');

:root {
    --primary-color: #2d2d2e;
    --secondary-color: #1b84bc;

    --heading-font: 'Carlito', serif;
    --paragraph-font: 'Quicksand', sans-serif;
    --nav-link-color:  #f8f7ff;   
}

body {
  font-family: var(--paragraph-font);
  color: var(--primary-color);
  max-width: 1000px;
  margin: 0 auto;
}

h1{
  color: #fdc100;
  ;
}
h2{
    color: #fdc100;
    /* text-transform: uppercase; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--secondary-color);
}

nav a {
  color: #f8f7ff;
  text-decoration: none;
  margin-right: 20px;
}


.social-media img {
    text-decoration: none;
  }

  .hero {
    position: relative;
    height: 500px; 
    overflow: hidden;
  }
  
  .hero img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem; 
    color: #fff; 
  }
  
  .hero article {
    position: absolute;
    /* top: 50%;
    left: 50%; */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5); 
    color: #fff; 
    padding: 1rem; 
  }
  
  .hero article img {
    float: right;
    margin-left: 1rem; 
  }
  
  