@import url('https://fonts.googleapis.com/css2?family=Carlito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carlito:wght@700&family=Quicksand:wght@300&display=swap');

:root {
    --primary-color: #06837f;
    --secondary-color: #02cecb;
    --accent1-color: #fdc100;
    --accent2-color: #fed811;

    --heading-font: 'Carlito', serif;
    --paragraph-font: 'Quicksand', sans-serif;

    --nav-background-colour: #1a659e;
    --nav-link-color: #72ddf7;
    --nav-hover-link-color: #ff6b35;
    --nav-hover-background-color: #f8f7ff;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: #1a759f;
}
  
header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
  

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
  
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
  

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
  
  